<!DOCTYPE html>
<html>
<head>
    <title>Stationery Shop</title>

</head>
<body>

    <h1>Stationery Shop</h1>
    <h2 style="color: red;">Low Stock Alert</h2>
    {% for product in low_stock %}
        <p style="color: red;">
            {{ product.name }} is low ({{ product.quantity }} left)

        </p>
    {% endfor %}    
    <p>Logged in as: {{ request.user.username }}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Product</button>
    </form>

    

    <h2>Products</h2>
    
    <p>
        <a href="{% url 'sales_history' %}">View Sales History</a>
        #|#
        <a href="{% url 'sell_product' %}">Sell Product</a>
    </p>
    {% for product in products %}
        <p>
            {{ product.name }} - {{ product.price }} TZS - Stock: {{ product.quantity }}
            <a href="{% url 'edit_product' product.id %}">Edit</a> ||
            <a href="{% url 'delete_product' product.id %}">Delete</a>
        </p>
        
    {% endfor %}

    <h2>Dashboard</h2>

    <p>Total Products: {{ total_products }}</p>
    <p>Total Sales: {{ total_sales }}</p>
    <p>Total Revenue: {{ total_revenue }} TZS</p>


</body>
</html>